// Screen size variables
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-max: 767px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-md-max: 1024px;  // Tablet horizontal
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-lg-max: 1280px; // Large tablets and desktops
$screen-xl-min: 1300px; // Large tablets and desktops

@mixin xs { @media (min-width: #{$screen-xs-min}) {@content;} } // Tiny devices
@mixin sm { @media (max-width: #{$screen-sm-max}) {@content;} } // Small devices
@mixin md { @media (max-width: #{$screen-md-min}) {@content;} } // Medium devices
@mixin md-max { @media (max-width: #{$screen-md-max}) {@content;} } // Tablet devices
@mixin lg { @media (min-width: #{$screen-lg-min}) {@content;} } // Large devices
@mixin lg-max { @media (max-width: #{$screen-lg-max}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl-min}) {@content;} }


